# Konfigurasi khusus VPS (agar tidak bentrok dengan locallytrip di port 80)
HOST_PORT=127.0.0.1:8080

PORT=3001
NODE_ENV=production
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gadgetbdg?schema=public"
NEXT_PUBLIC_MAIN_DOMAIN="gadgetbdg.com"
NEXTAUTH_SECRET="ganti_dengan_random_secret_panjang_untuk_vps"
