# Environment Variables for GadgetBdg
HOST_PORT=80
PORT=3001
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/gadgetbdg?schema=public"
NEXT_PUBLIC_MAIN_DOMAIN="gadgetbdg.com"
NEXTAUTH_SECRET="gadgetbdg_local_secret_key_12345"
